<form (ngSubmit)="Submit()" class="formTemplate roseBorder">
    <div class="formsDiv">
        <label for="user" class="standardText block">Email</label>
        <input id="user" name="username" type="email" class = "block" [(ngModel)]="email"/>
    </div>
    <div class="formsDiv topRel">
        <label for="psswrd" class="standardText block">Password</label>
        <input id="psswrd" name="password" type="password" class="block" [(ngModel)]="password"/>
    </div>
    <input type="submit" value="Login" class="standardButton block">
    <u routerLink="/register" class="autoMargin block standardText">Not registered yet? Register!</u>
</form>