<div id="nameBox" class="lateralBlockDiv roseBorder highlightBox" routerLink="/viewprofile">
    <div class="centerHor meio flexbox">
        <img [src]="user.imageUrl" alt="" class="roseBorder">
        <p id="name" [textContent]="user.name" class="standardText"></p>
    </div>
</div>
<div class="lateralBlockDiv roseBorder highlightBox" routerLink="/search">
    <div class="centerHor meio flexbox">
        <i class="material-symbols-outlined icon">search</i>
        <p class="standardText specialSize">Search</p>
    </div>
</div>
<div class="lateralBlockDiv roseBorder highlightBox" routerLink="/myservices">
    <div class="centerHor meio flexbox">
        <i class="material-symbols-outlined icon">construction</i>
        <p class="standardText specialSize">My Services</p>
    </div>
</div>
<div class="lateralBlockDiv roseBorder highlightBox" routerLink="/settings">
    <div class="centerHor meio flexbox">
        <i class="material-symbols-outlined icon">settings</i>
        <p class="standardText specialSize">Settings</p>
    </div>
</div>
