img{
    border-radius: 50%;
    height: 9vh;
    aspect-ratio: 1/1;
    display: inline-block;

} u{
    display: block;
    cursor: pointer;
} .meio{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    width: fit-content;
} .inline{
    display: inline-block;
}