.titleText{color:#fff;font-size:38px}.formTemplate{border-width:4px;border-color:purple}.standardText{color:#000;font-size:18px}.standardButton{background-color:purple;border-radius:5px;color:purple}
