.wrapper{
    /*word-wrap: break-word;*/
    width: 12vw;
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
    aspect-ratio: 2/3.2;
    position: relative;
    border-style: solid;
    border-width: 0.1vw;
    border-color: var(--rose);
} .serviceNameText{
    font-size: 1vw;
    cursor: pointer;
} .serviceCostText{
    font-size: 1.2vw
} .serviceMinorText{
    font-size: 0.9vw;
    cursor: pointer;
} p {
    margin-left: 0.1vw;
    margin-top: 0.1vw;
} app-star-rating {
    display: block;
    margin-left: 0.1vw;
    margin-top: 0.1vw;
    width: 9vw;
}