<div class="wrapper">
    <div class="centerHor">
        <img class="cardImage highlightImage" [src]="service.templateImageUrl" alt="" [title]="service.description" [routerLink]="['/services',service.serviceId]">
        <p [textContent]="service.shortServiceName" class="standardText serviceNameText highlightText" [title]="service.serviceName" [routerLink]="['/services',service.serviceId]"></p>
        <p [textContent]="service.providerName" class="standardText serviceMinorText highlightText" [routerLink]="['/users',service.providerId]"></p>
        <p [textContent]="service.costPerHour" class="standardText roseText serviceCostText"></p>
        <app-star-rating [isEnabled]=false [rating]="service.averageScore" [imgWidth]="starWidth"></app-star-rating>
        <p [textContent]="service.providerArea" class="standardText serviceMinorText highlightText"></p>
    </div>
</div>