/* You can add global styles to this file, and also import other style files */
:root{
    /* --rose: #eb4b9bff;
    --purple: #35143dff;
    --background-color: #e6e6faff;
    --maroon: #d3c0cdff;
    --font-color: #3d3a4bff; */
    --rose: #eb4b9bff;
    --purple: #35143dff;
    --background-color: #323030;
    --secondary-background-color:#5c5959;
    --maroon: #d3c0cdff;
    --font-color: #ffffffff;
    --a-size: 1vw;
    --b-size:1.1vw;
    --c-size: 1.3vw;
    --d-size:1.5vw;
    --e-size:2.8vw;
}.appWrapper{
    position: relative;
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
} .pageWrapper{
    position: relative;
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
} .contentWrapper{
    position: absolute;
    left: 16vw;
    top: 9vh;
    height: 91vh;
    width: 84vw;
    overflow-y: scroll;
} .standardText{
    color: var(--font-color);
    font-size:var(--c-size);
} .titleText{
    color: var(--font-color);
    /*-webkit-text-fill-color: var(--background-color);*/
    font-size: var(--e-size);
    text-shadow: -1px 0 var(--rose), 0 1px var(--rose), 1px 0 var(--rose), 0 -1px var(--rose);
}.reverseText{
    color: var(--background-color);
} .roseText {
    color: var(--rose);  
} .outlinedText{
    font-size:1.8vw;
    color: transparent;
    -webkit-text-stroke:2px var(--rose)
    /* text-shadow: -2px 0 var(--rose), 0 2px var(--rose), 2px 0 var(--rose), 0 -2px var(--rose); */
}.roseBorder{
    border-style: solid;
    border-color: var(--rose);
    border-bottom-width: 0.2vw;
    border-top-width: 0.2vw;
    border-left-width: 0.2vw;
    border-right-width: 0.2vw;
}.flexbox{
    position: relative;
    display: flex;
}.formTemplate{
    margin: auto;
    padding: 1%;
    /* border-style: solid; */
    border-width: 3px;
    border-radius: 8px;
    /* border-color: var(--rose); */
    width: 35%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}  .formsDiv{
    display: inline-block;
    margin: 1.5%;
    width: 45%;
} .lateralDiv{
    position: fixed;
    top: 8vh;
    height: 92vh;
    width: 15vw;
    /* border-style: solid; */
    border-bottom-width: 0vw;
    border-top-width: 0vw;
    border-left-width: 0vw;
    border-right-width: 0.1vw;
    /* border-color: var(--rose); */
} .lateralBlockDiv{
    position: relative;
    /* border-style: solid; */
    border-bottom-width: 0.1vw;
    border-top-width: 0vw;
    border-left-width: 0vw;
    border-right-width: 0vw;
    /* border-color: var(--rose); */
    width: 15vw;
    height: 14vh;
    cursor: pointer;
}.standardButton{
    border-style: solid;
    background-color: var(--rose);
    border-radius: 2px;
    border-color: var(--purple);
    color: var(--font-color);
    margin: auto;
    width: 20%;
    height: 8%;
} .cardImage{
    width: 12vw;
    aspect-ratio:1/1;
    cursor: pointer;
} app-header{
    height: 8vh;
    width: 100vw;
    border-color: var(--rose);
    position: fixed;
} .cardShadow{
    box-shadow: rgba(235, 75, 155, 0.35) 0px 0.2vw 0.9vw;
} .centerHor{
    margin: 0 auto
}.centerVer{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} .imageInput{
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
