/* You can add global styles to this file, and also import other style files */
.titleText{
    color: white;
    font-size: 38px;
} .formTemplate{
    margin: auto;
    padding: 1%;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: purple;
    width: 35%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
} .standardText{
    color: black;
    font-size: 18px;
} .standardWhiteText{
    color: rgb(78, 255, 24);
    font-size: 18px;
} .standardButton{
    border-style: solid;
    background-color: purple;
    border-radius: 2px;
    border-color: gray;
    color: white;
    margin: auto;
    width: 20%;
    height: 8%;
} .formsDiv{
    display: inline-block;
    margin: 1.5%;
    width: 45%;
} .lateralDiv{
    position: fixed;
    top: 8vh;
    background-color: purple;
    height: 92vh;
    width: 15vw;
} .lateralBlockDiv{
    border-style: solid;
    border-bottom-width: 0.2vw;
    border-top-width: 0vw;
    border-left-width: 0vw;
    border-right-width: 0vw;
    border-color: rgb(155, 147, 221);
    width: 15vw;
    height: 14vh;
} .cardImage{
    border-radius: 5%;
    border-color: purple;
    border-width: 0.2vw;
    border-style: solid;
    width: 14vw;
    aspect-ratio:1/1;
}