/* You can add global styles to this file, and also import other style files */
:root{
    --rose: #eb4b9bff;
    --purple: #35143dff;
    --lavender: #e6e6faff;
    --maroon: #d3c0cdff;
    --jet: #3d3a4bff;
    --a-size: 1vw;
    --b-size:1.1vw;
    --c-size: 1.3vw;
    --d-size:1.5vw;
    --e-size:2.8vw;
}.appWrapper{
    position: relative;
    background-color: var(--lavender);
    height: 100vh;
    width: 100vw;
} .pageWrapper{
    background-color: var(--lavender);
    position: relative;
    height: 100vh;
    width: 100vw;
}
.titleText{
    color: var(--lavender);
    /*-webkit-text-fill-color: var(--lavender);*/
    font-size: var(--e-size);
    text-shadow: -1px 0 var(--rose), 0 1px var(--rose), 1px 0 var(--rose), 0 -1px var(--rose);
} .formTemplate{
    margin: auto;
    padding: 1%;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: var(--rose);
    width: 35%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
} .standardText{
    color: var(--jet);
    font-size:var(--c-size);
} .whiteText{
    color: var(--lavender);
} .standardText.roseText {
    color: var(--rose);  
}.standardButton{
    border-style: solid;
    background-color: var(--rose);
    border-radius: 2px;
    border-color: var(--jet);
    color: white;
    margin: auto;
    width: 20%;
    height: 8%;
} .formsDiv{
    display: inline-block;
    margin: 1.5%;
    width: 45%;
} .lateralDiv{
    position: fixed;
    top: 8vh;
    height: 92vh;
    width: 15vw;
    border-style: solid;
    border-bottom-width: 0vw;
    border-top-width: 0vw;
    border-left-width: 0vw;
    border-right-width: 0.2vw;
    border-color: var(--rose);
} .lateralBlockDiv{
    border-style: solid;
    border-bottom-width: 0.2vw;
    border-top-width: 0vw;
    border-left-width: 0vw;
    border-right-width: 0vw;
    border-color: var(--rose);
    width: 15vw;
    height: 14vh;
} .cardImage{
    width: 12vw;
    aspect-ratio:1/1;
} app-header{
    height: 8vh;
    width: 100vw;
    border-color: var(--rose);
    position: fixed;
} .cardShadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} .center{
    margin-left: auto;
    margin-right: auto;
}