<app-lateral-bar [user]=buffer.userInfo></app-lateral-bar>
<ol>
    <li *ngFor="let bundle of buffer.userInfo.ServiceRecs">
        <img [src]="bundle.ServiceInfos[0].ProviderImageUrl" alt="" style="display: inline-block;">
        <img [src]="bundle.ServiceInfos[1].ProviderImageUrl" alt="" style="display: inline-block;">
        <img [src]="bundle.ServiceInfos[2].ProviderImageUrl" alt="" style="display: inline-block;">
        <img [src]="bundle.ServiceInfos[3].ProviderImageUrl" alt="" style="display: inline-block;">
    </li>
</ol>